<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>jsreturn</Title>
    <Author>PicNet Pty Ltd</Author>
    <Shortcut>jsreturn</Shortcut>
    <Description>A javascript return statement</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="jscript"><![CDATA[* @return {string}]]></Code>
  </Snippet>
</CodeSnippet>